/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/
.bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #f2f2f2;
  }
  
  .spologo img {
    height: 50px;
  }
  
  .bar-links {
    list-style: none;
    display: flex;
  }
  
  .bar-links li {
    margin-left: 10px;
  }
  
  .bar-links li a {
    text-decoration: none;
    color: #333;
  }
  .hero {
    background-image: url(/pics/landing.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;}

  .hero-text {
    text-align: center;
    color: #fff;
    
  }
  
  .hero-text h1 {
    font-size: 80px;
    margin-bottom: 45px;
  }
  
  .hero-text li {
    font-size: 30px;
    list-style: none;
  }

  
.Barcenter {
  text-align: center;
  background-color: #ffffff;
  font-weight: bold;
  text-decoration: underline #1DB954;
  font-size: 30px;
  margin: 0px;
  text-underline-offset: 8px;
  
}  


.Conteiner-box {
  display: flex;
  flex-wrap: row;
  justify-content: space-evenly;
  }

.Box-Sound {
  border: solid 5px yellow;
  text-align: center;
  width: 240px;
  height: 200px;
  box-sizing: border-box;
}
.title1{
  text-align: center;
  color: #1DB954;
}
.text-sound  {
  text-align: center;

}

.Box-HD {
  border: solid 5px yellow;
  text-align: center;
  width: 240px;
  height: 200px;
  box-sizing: border-box;
}
.title2 {
  text-align: center;
  color: #1DB954;
}
.Text-HD {
  text-align: center;
}

.Box-Stream {
  border: solid 5px yellow;
  text-align: center;
  width: 240px;
  height: 200px;
  box-sizing: border-box;
}
.title3 {
  text-align: center;
  color: #1DB954;
}
.text-stream {
  text-align: center;
}

.footer-box {
  display: inline-block;
  background-color: #1DB954;
  color: white;
  position:relative; 
  width: 1250px;
  height: 500px;
  box-sizing: border-box;
  vertical-align: middle; 
  margin: 0;
}

.footer-title {
  color: white;
  position:relative; 
  top: 40px;
  margin: 20px;
  text-decoration: underline;
  text-underline-offset: 8px;
  width: 300px ;
}

.search-text {
  color: white;
  position:relative; 
  top: 40px;
  margin: 20px;
  width: 300px 
}
.textend1 {
  list-style-type: none;
}

.browse-text {
  position:relative; 
  top: 40px;
  margin: 20px;
  width: 300px 
}
.textend2 {
  list-style-type: none;
}

.discover-text {
  position:relative; 
  top: 40px;
  margin: 20px;
  width: 300px 
}
.textend3 {
  list-style-type: none;
}

.spotify-icon {
  width: 100px;
  position: absolute;
  top: 100px;
  left: 450px;
}
.Kenyewest {
  width: 250px;
  position: absolute;
  bottom: 0%;
  left: 800px;}




