/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/
.bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #f2f2f2;
  }
  
  .spologo img {
    height: 50px;
  }
  
  .bar-links {
    list-style: none;
    display: flex;
  }
  
  .bar-links li {
    margin-left: 10px;
  }
  
  .bar-links li a {
    text-decoration: none;
    color: #333;
  }
  .hero {
    background-image: url(/pics/landing.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    

  }
  
  .hero-text {
    text-align: center;
    color: #fff;
    
  }
  
  .hero-text h1 {
    font-size: 80px;
    margin-bottom: 45px;
  }
  
  .hero-text li {
    font-size: 30px;
    list-style: none;
  }