/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/
.bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #f2f2f2;
  }
  
  .spologo img {
    height: 50px;
  }
  
  .bar-links {
    list-style: none;
    display: flex;
  }
  
  .bar-links li {
    margin-left: 10px;
  }
  
  .bar-links li a {
    text-decoration: none;
    color: #333;
  }
  .hero {
    background-image: url(/pics/landing.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;}

  .hero-text {
    text-align: center;
    color: #fff;
    
  }
  
  .hero-text h1 {
    font-size: 80px;
    margin-bottom: 45px;
  }
  
  .hero-text li {
    font-size: 30px;
    list-style: none;
  }

  
.Barcenter {
  text-align: center;
  background-color: #ffffff;
  font-weight: bold;
  text-decoration: underline green;
  font-size: 30px;
  margin: 0px;
  text-underline-offset: 8px;
  
}  


.Conteiner-box {
  display: flex;
  flex-wrap: row;
  justify-content: space-evenly;
  }

.Box-Sound {
  border: solid 5px yellow;
  text-align: center;
  width: 240px;
  height: 200px;
  box-sizing: border-box;
}
.title1{
  text-align: center;
  color: green;
}
.text-sound  {
  text-align: center;

}

.Box-HD {
  border: solid 5px yellow;
  text-align: center;
  width: 240px;
  height: 200px;
  box-sizing: border-box;
}
.title2 {
  text-align: center;
  color: green;
}
.Text-HD {
  text-align: center;
}

.Box-Stream {
  border: solid 5px yellow;
  text-align: center;
  width: 240px;
  height: 200px;
  box-sizing: border-box;
}
.title3 {
  text-align: center;
  color: green;
}
.text-stream {
  text-align: center;
}




